[submodule "external/tinycmmc"]
	path = external/tinycmmc
	url = https://gitlab.com/grumbel/cmake-modules.git
[submodule "external/surfcpp"]
	path = external/surfcpp
	url = https://gitlab.com/grumbel/surfcpp.git
[submodule "external/geomcpp"]
	path = external/geomcpp
	url = https://gitlab.com/grumbel/geomcpp.git
[submodule "external/logmich"]
	path = external/logmich
	url = https://gitlab.com/logmich/logmich.git
[submodule "external/babyxml"]
	path = external/babyxml
	url = https://gitlab.com/grumbel/babyxml.git
